body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: Avenir;
  background: #29C0A8
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  font-size: 24px;
}

h1 {
  font-size: 64px;
  padding-left: 50px;
  padding-right: 50px;
}

h3 {
  font-size: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

p {
  font-size: 24px;
  padding-left: 50px;
  padding-right: 50px;
}

header {
  background: #29C0A8;
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  background: white;
}

.profileinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  background: #29C0A8;
  color: white;
}

.circlepic {
  border-radius: 50%;
}
